@mixin styles
  .audio-icon
    width: 2rem
    cursor: pointer

  audio
    // https://gist.github.com/afabbro/3759334#audio
    &::-webkit-media-controls-panel
      background-color: #c2e5df

    // Removes mute-button
    &::-webkit-media-controls-mute-button
      display: none

    &.mute-btn::-webkit-media-controls-mute-button
      display: initial

    &::-webkit-media-controls-volume-slider-container
      display: none

    &::-webkit-media-controls-volume-slider // 看起來只要設定slider就可以了，滑動窗框不管是否設定container都還是在
      display: none

    &.volume-slider-container
      &::-webkit-media-controls-volume-slider-container, &::-webkit-media-controls-volume-slider
        display: initial

    // Removes play-button
    &::-webkit-media-controls-play-button
      display: none
