$-levelList: 1 2 3 4 5 6 7 8 9 10 11 12
$-unit: 100 / length($-levelList)

@mixin styles
  .container
    height: 100vh
    width: 100%
    background-image: url("../img/bg.png") // 指的是styles.css的相對路徑
    background-size: cover // https://www.w3schools.com/cssref/playit.asp?filename=playcss_background-size&preval=cover
    background-position: center // https://developer.mozilla.org/en-US/docs/Web/CSS/background-position
    position: relative

  .row
    --bs-gutter-x: 1.5rem
    --bs-gutter-y: 0
    display: flex
    flex-wrap: wrap
    margin-top: calc(var(--bs-gutter-y) * -1)
    margin-right: calc(var(--bs-gutter-x) * -.5)
    margin-left: calc(var(--bs-gutter-x) * -.5)

  @each $i in $-levelList
    .col-#{$i}
      flex: 0 0 auto
      width: $-unit * $i * 1%

    .offset-#{$i}
      margin-left: $-unit * $i * 1%

  $-spacer: 1rem
  @each $i in 1, 2, 3, 4, 5, 6
    .mt-#{$i}
      margin-top: $-spacer * $i
    .mb-#{$i}
      margin-bottom: $-spacer * $i
    .ms-#{$i}
      margin-left: $-spacer * $i
    .me-#{$i}
      margin-right: $-spacer * $i
